<div class="jumbotron"> 
	<h1>Stock Tracker</h1>
	<p class="lead" >Get rich overnight by playing the stockmarket</p>
	<% if current_user %>
			<%= link_to 'View Stocks', my_portfolio_path, class: "btn btn-primary btn-lg"  %>
		<% else %>
			<%= link_to "Signup", new_user_registration_path, class: "btn btn-primary btn-lg"  %>
	<% end %>
</div>

<div class="row">
  <div class="col-lg-12 align-center">
   <h2><center>Greed is good, and now simple...</center></h2>
   <br>
</div>
</div>
    <div class="row">
      <div class="col-lg-6">
      	<h3>How to...</h3>
		<ol>
			<li>Sign up</li>
			<li>Follow your friends</li>
			<li>Add stocks</li>
			<li>Get rich while you sleep</li>
		</ol>
      </div>
      <div class="col-lg-6">
      	<%= image_tag("how.gif", :height => "260px", :width => "400px") %>	
      </div>
    </div>

